@model Application.Dto.ItemDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Item</h4>

@if (TempData["error"] != null)
{
    <p class="text-danger">@TempData["error"]</p>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" asp-for="Image" class="form-control-file" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="checkbox" asp-for="isCovert" /> IsCovert
                <div class="alert-info">Note covert items cost 25% more.</div>
            </div>
            <div class="form-group">
                <label asp-for="ItemTypeId" class="control-label">ItemType</label>
                <select asp-for="ItemTypeId" class="form-control" asp-items="ViewBag.ItemTypeId"></select>
                <span asp-validation-for="ItemTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemQualityId" class="control-label">ItemQuality</label>
                <select asp-for="ItemQualityId" class="form-control" asp-items="ViewBag.ItemQualityId"></select>
                <span asp-validation-for="ItemQualityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" min="0" max="100" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
